ADF-Pipeline/Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Nome do Data Factory"},"Azure Databricks":{"type":"string"},"On premise SQL":{"type":"string"},"Datalake":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Pipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Buscar tabelas","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"SELECT\ns.name AS SchemaName,\nt.name AS TableName\nFROM sys.tables t\nINNER JOIN sys.schemas s\nON t.schema_id = s.schema_id\nWHERE s.name = 'SalesLT'","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"onPremSQL","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"Para cada tabela","type":"ForEach","dependsOn":[{"activity":"Buscar tabelas","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Buscar tabelas').output.value","type":"Expression"},"activities":[{"name":"Copiar dados","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@{concat('SELECT * FROM ', item().SchemaName, '.', item().TableName)}","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"onPremSQL","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ParquetBronze","type":"DatasetReference","parameters":{"schemaName":{"value":"@item().SchemaName","type":"Expression"},"tableName":{"value":"@item().TableName","type":"Expression"}}}]}]}},{"name":"Bronze to Silver","type":"DatabricksNotebook","dependsOn":[{"activity":"Para cada tabela","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/uc2022120629@student.uc.pt/Bronze to Silver"},"linkedServiceName":{"referenceName":"[parameters('Azure Databricks')]","type":"LinkedServiceReference"}},{"name":"Silver to Gold","type":"DatabricksNotebook","dependsOn":[{"activity":"Bronze to Silver","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/uc2022120629@student.uc.pt/Silver to Gold"},"linkedServiceName":{"referenceName":"[parameters('Azure Databricks')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-09-18T15:25:46Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/onPremSQL')]","[concat(variables('factoryId'), '/datasets/ParquetBronze')]"]},{"name":"[concat(parameters('factoryName'), '/onPremSQL')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('On premise SQL')]","type":"LinkedServiceReference"},"annotations":[],"type":"SqlServerTable","schema":[{"name":"AddressID","type":"int","precision":10},{"name":"AddressLine1","type":"nvarchar"},{"name":"AddressLine2","type":"nvarchar"},{"name":"City","type":"nvarchar"},{"name":"StateProvince","type":"nvarchar"},{"name":"CountryRegion","type":"nvarchar"},{"name":"PostalCode","type":"nvarchar"},{"name":"rowguid","type":"uniqueidentifier"},{"name":"ModifiedDate","type":"datetime","precision":23,"scale":3}],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ParquetBronze')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('Datalake')]","type":"LinkedServiceReference"},"parameters":{"schemaName":{"type":"string"},"tableName":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@concat(dataset().tableName,'.parquet')","type":"Expression"},"folderPath":{"value":"@concat(dataset().schemaName,'/',dataset().tableName)","type":"Expression"},"fileSystem":"bronze"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}